<link rel="stylesheet" href="../public/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
        <div class="col-3">
            <ul class="list-group list-group-flush">
               <li class="list-group-item text-secondary" ><i class="fa-solid fa-bars"></i>   Danh Mục </li>
                <a href="" style="text-decoration: none;"> <li class="list-group-item">Tất cả sản phẩm </li></a>
                <a href="" style="text-decoration: none;"> <li class="list-group-item">Áo thun</li></a>
                <a href="" style="text-decoration: none;"> <li class="list-group-item">Quần</li></a>
                <a href="" style="text-decoration: none;"> <li class="list-group-item">Áo polo</li></a>
              </ul>
        </div>
    </div>
</div>